<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <meta charset="utf-8">
    <title>{%block title_block%}{%endblock%}</title>
  </head>
  <body>
    <div class="content">
      {%block content_block%}
      {%endblock%}
    </div>
    <div class="sidebar">
      <h2>VENKY'S Blog</h2>
      <p>Here you can see News Updates.....!</p>
    </div>
  </body>
</html>
